
 {% block body %}
    <h1>Drogi użytkowniku!</h1>
     Na twojej stronie marbud klient wypełnił formularz kontaktowy. Proszę skontaktuj się z nim.
     </br></br>
     Dane:
     </br></br>
     nr. telefonu:   {{ form.telephoneNumber }}
     </br></br>
     email:     {{ form.email }}
     </br></br>
     nazwa:     {{ form.name }}

 {% endblock %}